<mat-card-header *ngIf="repo">
  <mat-card-title><h2>{{repo.name}}</h2></mat-card-title>
</mat-card-header>

<mat-card-content>
  <mat-select *ngIf="branches" [(ngModel)]="selectedBranch" (change)="onBranchSelect(selectedBranch)">
    <mat-option *ngFor="let branch of branches" [value]="branch.name">
      {{branch.name}}
    </mat-option>
  </mat-select>

  <mat-nav-list *ngIf="commits">
    <a mat-list-item (click)="onCommitClick(commit)" *ngFor="let commit of commits">
      <img matListAvatar src={{commit.committer.avatar_url}}>
      <h4 mat-line>{{commit.commit.message}}</h4>
      <p mat-line>{{commit.commit.committer.name}} on {{commit.commit.committer.date}}</p>
    </a>
  </mat-nav-list>

  <div *ngIf="isFetching" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="hasMore && !isFetching" class="commits-controll-panel">
    <button
      mat-raised-button
      color="primary"
      (click)="loadMore()"
    >
      Load More
    </button>
  </div>
</mat-card-content>