<mat-toolbar color="primary">
  <span>Github Browser</span>

  <button
    class="nav-button"
    mat-button
    routerLink="home"
  >
    Home
  </button>
  
  <button 
    *ngFor="let route of navList"
    class="nav-button"
    mat-button
    routerLink={{route.url}}
  >
    {{route.name}}
  </button>
</mat-toolbar>

<div style="padding: 20px">
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
</div>