<mat-card-header>
  <mat-card-title><h3>{{title}}</h3></mat-card-title>
</mat-card-header>

<mat-card-content>
  <div>
    <mat-radio-group class="search-panel-controll" [(ngModel)]="radio">
      <mat-radio-button value="users">Users</mat-radio-button>
      <mat-radio-button value="repositories">Repositories</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="search-panel-controll">
      <mat-icon matPrefix>search</mat-icon>
      <input 
        matInput
        [(ngModel)]="searchText"
        (keydown.enter)="search(searchText, radio)"
      >
    </mat-form-field>
  </div>

  <div *ngIf="items">
    <h3>{{entity}}</h3>
    <p *ngIf="notFound">no {{entity}} found</p>

    <div *ngIf="isFetching" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!notFound && !isFetching">
      <mat-nav-list>
        <a mat-list-item (click)="onItemClick(item)" *ngFor="let item of items">
          <img *ngIf="item.avatar_url" matListAvatar src={{item.avatar_url}}>
          <h4 mat-line>{{item.name || item.login}}</h4>
          <p mat-line>{{item.description}}</p>
        </a>
      </mat-nav-list>

        <mat-paginator
          [length]="itemsTotalCount"
          [pageSize]="10"
          [pageIndex]="page - 1"
          (page)="leaf($event, searchText, entity)"
        ></mat-paginator>
    </div>
  </div>
</mat-card-content>
