<mat-card-header *ngIf="user">
  <img mat-card-avatar src={{user.avatar_url}}>
  <mat-card-title><h3>{{user.login}}</h3></mat-card-title>
</mat-card-header>

<mat-card-content>
  <div *ngIf="isFethcing" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isFetching">
    <mat-nav-list *ngIf="!isFetching">
      <h3 mat-subheader>Projects</h3>
      <a mat-list-item (click)="onRepoClick(repo)" *ngFor="let repo of repos">
        <h4 mat-line>{{repo.name}}</h4>
        <p mat-line>{{repo.description}}</p>
      </a>
    </mat-nav-list>
  
    <mat-paginator
      [length]="user.public_repos"
      [pageSize]="10"
      [pageIndex]="page - 1"
      (page)="leaf($event)"
    ></mat-paginator>
  </div>
</mat-card-content>