<mat-card-header *ngIf="commit">
  <mat-card-title><h2>{{commit.commit.message}}</h2></mat-card-title>
</mat-card-header>

<mat-card-content *ngIf="commit">
  <mat-card *ngFor="let file of commit.files" style="margin-bottom: 20px">
    <mat-card-header>
      <h3>{{file.filename}}</h3>
    </mat-card-header>

    <mat-card-content>
      <div *ngFor="let line of parseFile(file.patch)">
        {{line}}
      </div>
    </mat-card-content>
  </mat-card>
</mat-card-content>