@import url('/node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css');

body {
  margin: 0px;
}

.mat-radio-button {
  margin-left: 10px;
}

.spinner {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.nav-button {
  margin-left: 20px !important;
}

.search-panel-controll {
  margin-left: 20px !important;
}

.commits-controll-panel {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}